<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../CSS/Styes.css">
        <title>
            INDEX
        </title>
        <header>
            <heading >
                <h1>My Portfolio</h1>
              </heading>
            <nav> 
                <a href= "Index.html">Index </a>&ensp;
                 <a href= "Education.html">Education</a> &ensp;
                 <a href= "My Projects.html">My Projects</a> &ensp;
                 <a href= "Achievements.html">Achievements</a>&ensp;
                 <a href= "Work Experience.html">Work Experience </a>&ensp;
                 <a href="Contact Me.html">Contact Me</a>&ensp;
                 
                </ul>
            </nav>
            <br>

        </header>
        <body>
            <main>
              <div class="hero-image">
                <br>
                <div class="hero-text">
                    <br>
                    <h1>I am Dev Modi</h1>
                    <p> And I am a Game Developer and Designer</p>
                    <br>
                    <Button>Download My Resume</Button>
                </div>
              </div>
                                                             
            

   
            </main>
            <br>
             <footer>
                Created By Dev Modi
               </footer>
        </body>
    </head>
</html>
